$font-stack: Arial, Helvetica, sans-serif;
$primary-color: #e70e0e;
$secondary-color: #221a0f;
$light-color: #fdf9f9;
$white-color: #fff;
$link-color-light: rgb(233, 213, 213);

// set text color based on background
@function set-text-color($color) {
  @if (lightness($color) > 70) {
    @return #333;
  } @else {
    @return #fff;
  }
}

// set background & text color
@mixin set-background($color) {
  background-color: $color;
  color: set-text-color($color);
}
