@import "config";
@import "utilities";
@import "buttons";
@import "mobile";

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: $primary-color;
  font-family: $font-stack;
  line-height: 1.6;
}

img {
  width: 100%;
}

a {
  text-decoration: none;
  color: #fff;
}

/* end global variables */

.showcase {
  @include set-background($primary-color);
  height: 600px;

  .showcase-content {
    margin-top: 130px;
  }
}
nav {
  display: flex;
  align-items: center;
  justify-content: space-between;

  ul {
    display: flex;
    list-style: none;
  }
  li {
    padding: 15px;
  }
  a:hover {
    color: $secondary-color;
  }
  a {
    color: set-text-color($primary-color);
  }
  &-content {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 30px;

    img {
      width: 50%;
    }
    h1 {
      font-size: 50px;
      line-height: 1.2;
    }
  }
}

/* toms original   */

.hero {
  text-align: left;
  margin-top: 50px;
  margin-bottom: 50px;
  padding-left: 30px;
  h3 {
    padding-top: 5px;
  }
}

/*  gcf */

.gcf {
  background-color: $primary-color;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 50vh;
  overflow: hidden;
  margin: 0;
}

.toggle-container {
  color: $secondary-color;
  display: flex;
  align-items: center;
  margin: 10px 0;
  width: 200px;
}

.toggle {
  visibility: hidden;
}

.label {
  position: relative;
  background-color: $light-color;
  border-radius: 50px;
  cursor: pointer;
  display: inline-block;
  margin: 0 15px 0;
  width: 80px;
  height: 40px;
}

.toggle:checked + .label {
  background-color: $secondary-color;
}

.ball {
  background: $primary-color;
  height: 34px;
  width: 34px;
  border-radius: 50%;
  position: absolute;
  top: 3px;
  left: 3px;
  align-items: center;
  justify-content: center;
  animation: slideOff 0.3s linear forwards;
}

.toggle:checked + .label .ball {
  animation: slideOn 0.3s linear forwards;
}

@keyframes slideOn {
  0% {
    transform: translateX(0) scale(1);
  }
  50% {
    transform: translateX(20px) scale(1.2);
  }
  100% {
    transform: translateX(40px) scale(1);
  }
}

@keyframes slideOff {
  0% {
    transform: translateX(40px) scale(1);
  }
  50% {
    transform: translateX(20px) scale(1.2);
  }
  100% {
    transform: translateX(0) scale(1);
  }
}

/*  social */

.social {
  text-align: center;
  background-color: $light-color;
  padding-top: 20px;
  padding-bottom: 20px;
  margin-top: 50px;
  font-size: 300%;
}

/*-- sound effects --*/

.sounds {
  background-color: $light-color;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  height: 50vh;
  overflow: hidden;
}

.btn {
  background-color: $primary-color;
  border-radius: 5px;
  border: none;
  color: $light-color;
  margin: 5px;
  padding: 5px;
  font-size: 1rem;
  font-family: inherit;
  cursor: pointer;
}

.btn:hover {
  opacity: 0.9;
}

.btn:focus {
  outline: none;
}
